.portfolio-box-card {
    position: relative;
}

.portfolio-image-card img {
    height: 287px;
    width: 100%;
}

.portfolio-box-card:hover .portfolio-hover-card {
    opacity: 1;
}

.portfolio-hover-card,
.portfolio-hover-card i {
    opacity: 0;
    position: absolute;
    transition: all 0.3s cubic-bezier(0.2, 0, 0.3, 1);
}

.portfolio-hover-card {
    background: #c3964ee6;
    position: absolute;
    top: 30px;
    right: 30px;
    bottom: 30px;
    left: 30px;
    overflow: hidden;
    padding: 20px;
    transform: scale(1);
    transition: all 0.3s ease;
}

.portfolio-hover-card .portfolio-content {
    overflow: hidden;
    transition: all 0.3s cubic-bezier(0.2, 0, 0.3, 1);
    display: flex;
    flex-direction: column;
    justify-content: center;
}