// .swiper-button-next {
// 	background-repeat: no-repeat;
// 	background-size: 100% auto;
// 	background-position: center;
// 	color: white;

// 	&::after {
// 		display: none;
// 	}
// }

// .swiper-button-prev {
// 	background-repeat: no-repeat;
// 	background-size: 100% auto;
// 	background-position: center;
// 	color: white;

// 	&::after {
// 		display: none;
// 	}
// }

// .line-icon-Arrow-OutLeft:before {
// 	content: "\e657";
// }

// our customer css
.title {
	font-weight: 500;
	color: #c3964e;
	text-transform: uppercase;
	display: block;
	margin-bottom: 15px;
}

.heading-5 {
	font-size: 32.2px;
	font-weight: 700;
	text-transform: uppercase;
	color: #232323;
	letter-spacing: -1px;
	margin: 0px;

	@media (max-width: 767px) {
		font-size: 27.2px;
	}

	@media (max-width: 320px) {
		font-size: 25.2px;
	}
}

.slider {
	position: relative;
	overflow: hidden;
}

.d-flex {
	display: flex;
	align-items: center;

	img {
		margin-right: 50px;
		height: 180px;
		width: 180px;
		border-radius: 100%;

		@media (max-width: 640px) {
			width: 150px;
			height: 150px;
			margin-right: 20px;
		}

		@media (max-width: 480px) {
			width: 100px;
			height: 100px;
			margin-right: 11px;
		}
	}

	@media (max-width: 640px) {
		padding-top: 20px;
	}
}

.detail {
	display: inline-block;
	margin-bottom: 25px;
	color: #828282;
	line-height: 29px;
	font-size: 15px;
}

.customerName {
	font-weight: 600;
	text-transform: uppercase;
	line-height: 20px;
	color: #232323;
}

.customerDes {
	font-size: 14px;
	line-height: 20px;
	color: #828282;
}

// banner css
.bannerBg {
	background-image: url("../../public/assets/home-interior-design-start-project-bg.png");
	background-size: cover;
	position: relative;
	background-position: center;
	background-repeat: no-repeat;
	overflow: hidden;
}

.padding {
	padding-top: 160px;
	padding-bottom: 160px;

	@media (max-width: 768px) {
		padding-top: 95px;
		padding-bottom: 95px;
	}

	@media (max-width: 640px) {
		padding-top: 80px;
		padding-bottom: 80px;
	}
}

.background {
	opacity: 0.5;
	background-color: #232323;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.bannerHeading {
	font-size: 20px;
	font-weight: 600;
	color: white;
	text-transform: uppercase;
	margin-bottom: 0;

	@media (max-width: 768px) {
		font-size: 18px;
		line-height: 28px;
	}
}

.startLink {
	font-weight: 600;
	padding-top: 0;
	text-transform: uppercase;
	color: white;
	cursor: pointer;
	border-bottom: 1px solid white;
	position: relative;
	white-space: nowrap;
}

// about interior design css
.cover-background {
	background-image: url("../../public/assets/home-interior-design-about-bg.png");
	opacity: 1;
}

.aboutImage-1 {
	width: 278px;
	height: 344px;

	@media (max-width: 500px) {
		width: 278px;
		height: 300px;
	}

	@media (max-width: 400px) {
		width: 278px;
		height: 230px;
	}
}

.aboutImage-2 {
	width: 380px;
	height: 554px;

	@media (max-width: 500px) {
		width: 380px;
		height: 480px;
	}

	@media (max-width: 400px) {
		width: 380px;
		height: 400px;
	}
}

.aboutPadding {
	padding-top: 130px;
	padding-bottom: 130px;

	@media (max-width: 1024px) {
		padding-top: 90px;
		padding-bottom: 90px;
	}

	@media (max-width: 768px) {
		padding-top: 75px;
		padding-bottom: 75px;
	}

	@media (max-width: 640px) {
		padding-top: 50px;
		padding-bottom: 50px;
		padding-top: 100px;
	}
}

@media (max-width: 640px) {
	.pt-35 {
		padding-top: 35%;
	}
}

.small {
	font-weight: 500;
	margin-bottom: 30px;
	display: flex;
}

.smallBorder {
	flex-shrink: 0;
	width: 30px;
	height: 1px;
	opacity: 0.7;
	background-color: #c3964e;
	align-self: center;
	margin-right: 20px;
}

.heading-4 {
	font-size: 33.2px;
	text-transform: uppercase;
	color: #232323;
	font-weight: 700;
	margin-bottom: 30px;

	@media (max-width: 1020px) {
		font-size: 26.2px;
	}

	@media (max-width: 767px) {
		font-size: 27.2px;
	}

	@media (max-width: 320px) {
		font-size: 25.2px;
	}
}

.discover {
	border: 2px solid black;
	/* margin-top: 32px; */
	letter-spacing: 1px;
	border-radius: 0px;
	font-weight: 500;
	text-transform: uppercase;
	background-color: black;
	color: white;
	font-size: 13px;
	padding: 12px 32px;

	&:hover {
		color: black;
		background: white;
	}
}

// work banner
.counter-style-02 {
	.counter-content {
		color: #828282;
		display: block;
		font-size: 14px;
		line-height: 20px;
		margin-top: 5px;
		text-transform: uppercase;
	}

	.counter-title {
		margin-right: 4px;
		overflow-wrap: normal;
	}
}

// service css
.heading-6 {
	font-size: 32px;
	// line-height: 42px;
	text-transform: uppercase;
	color: #232323;
	font-weight: 700;
	margin-bottom: 40px;

	@media (max-width: 768px) {
		font-size: 27.2px;
		margin-bottom: 20px;
	}

	@media (max-width: 320px) {
		font-size: 25.2px;
	}
}

.start {
	@media (max-width: 1024px) {
		justify-content: start;
	}
}

.hide {
	@media (max-width: 1024px) {
		display: none;
	}
}

.pt-25 {
	@media (max-width: 1024px) {
		padding-top: 25px;
	}
}

.pt-50 {
	@media (max-width: 768px) {
		padding-top: 50px;
	}
}

.feature-box-move-bottom-top {
	padding: 32px 40px;

	@media (max-width: 465px) {
		padding: 32px 25px;
	}
}

.text-xmd {
	font-size: 16px;
	line-height: 28px;
}

.number {
	font-size: 39.9px;
	color: #c3964e;
	font-weight: 500;
	margin-bottom: 20px;
	letter-spacing: -2px;
}

.text {
	font-weight: 600;
	color: #232323;
	text-transform: uppercase;
	margin-bottom: 10px;
	display: inline-block;
	font-size: 16px;
	line-height: 28px;
}

.readBtn {
	display: none;
	border-bottom: 2px solid #c3964e;
	font-weight: 500;
	text-transform: uppercase;
	color: #828282;
	cursor: pointer;
	font-size: 13px;

	&:hover {
		color: #c3964e;
	}
}

.feature-box-move-bottom-top:hover .readBtn {
	display: block;
}

// new trends css
.heading-3 {
	text-transform: uppercase;
	color: #232323;
	font-weight: 700;
	margin-bottom: 15px;
	font-size: 26.2px;
	width: 75%;

	@media (max-width: 1024px) {
		font-size: 23.2px;
		width: 100%;
	}
}

.aboutBtn {
	border: 2px solid black;
	margin-top: 32px;
	letter-spacing: 1px;
	border-radius: 0px;
	font-weight: 500;
	text-transform: uppercase;
	background-color: white;
	color: #232323;
	font-size: 11px;
	padding: 10px 24px;

	&:hover {
		background-color: black;
		color: white;
	}
}

.btn-sonar {
	border: 2px solid black;
	border-radius: 100%;
	font-size: 43px;
	line-height: 1;
	// padding: 0px;
	position: relative;
	background: black;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;

	@media (max-width: 1024px) {
		font-size: 30px;
	}
}

.video-icon-text {
	color: #232323;
	margin-left: 12px;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 14px;
}

.achievement {
	position: relative;
	display: flex;
	align-items: center;
	padding: 35px;
	right: 0;
	background-color: #f1edea;
	bottom: -25px;
	z-index: 2;
	width: 76%;
	margin-left: auto;
	cursor: pointer;

	@media (max-width: 1024px) {
		padding: 20px;
		bottom: 0;
	}
}

@media (max-width: 767px) {
	.pt-30 {
		padding-top: 30px;
	}
}

@media (max-width: 768px) {
	.btn-sonar {
		font-size: 30px;
	}

	.achievement {
		padding: 15px;
		bottom: 0;
	}
}

// latest blog css
.creative,
.concept,
.business {
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.08);
	border-radius: 6px;
	display: flex;
	flex-wrap: wrap;
	overflow: hidden;

	&:hover img {
		background-position: 0;
		opacity: 0.3;
	}
}

// .creative .blog-image a,
// .concept .blog-image a,
// .business .blog-image a {
// 	background: #374162;
// 	height: 100%;
// 	left: 0;
// 	opacity: 0;
// 	position: absolute;
// 	top: 0;
// 	transition: all 0.5s ease-in-out;
// 	width: 100%;
// }

.post-details {
	background-color: white;
	display: flex;
	flex-direction: column;
	padding: 2.5rem;
	width: 100%;
}

.blog-category {
	align-self: flex-start;
	border: 1px solid rgba(0, 0, 0, 0.1);
	box-shadow: 0 0 20px hsla(0, 0%, 9%, 0.08);
	--tw-text-opacity: 1;
	background-color: white;
	border-radius: 20px;
	color: rgb(35 35 35 / var(--tw-text-opacity));
	font-size: 11px;
	font-weight: 500;
	line-height: 14px;
	margin-bottom: 4.5rem;
	padding: 6px 16px;
	text-transform: uppercase;

	&:hover {
		color: #0a58ca;
	}
}

.blog-title {
	--tw-text-opacity: 1;
	color: rgb(35 35 35 / var(--tw-text-opacity));
	font-size: 18px;
	font-weight: 500;
	line-height: 24px;
	margin-bottom: 15px;
	width: 186px;

	&:hover {
		color: #0a58ca;
	}
}

.blog-author {
	align-self: flex-start;
	font-size: 13px;
	font-weight: 500;
	line-height: 22px;
	text-transform: uppercase;
	color: #c3964e;
}

.blog-image {
	flex-shrink: 0;
	width: 50%;
	height: 349px;
	object-fit: cover;
	object-position: center;
	background-repeat: no-repeat;
	overflow: hidden;
	position: relative;

	@media (max-width: 991px) {
		width: 50%;
		height: 350px;
	}

	@media (max-width: 639px) {
		width: 100%;
	}
}

@media (max-width: 767px) {
	.padding-t-25 {
		padding-top: 25px;
	}
}

// slider hero
.sliderImage-1,
.sliderImage-2,
.sliderImage-3 {
	position: relative;
	overflow: hidden;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	height: 100vh;

	&.sliderImage-1 {
		background-image: url("../../public/assets/home-interior-design-slider-img01.png");
	}

	&.sliderImage-2 {
		background-image: url("../../public/assets/home-interior-design-slider-img02.png");
	}

	&.sliderImage-3 {
		background-image: url("../../public/assets/home-interior-design-slider-img03.png");
	}
}

/* slider dots */
.dots {
	background: #fff;
	border-color: #fff;
	height: 12px;
	opacity: 0.5;
	width: 12px;
	border-radius: 100%;
	transition: background 0.5s;
	border-style: solid;
	margin-bottom: 60px;
	margin-right: 10px;
	cursor: pointer;

	&--active {
		background: #fff;
		border-color: #fff;
		height: 12px;
		opacity: 1;
		width: 12px;
		border-radius: 100%;
		margin-right: 10px;
	}
}

.sliderCard {
	background-color: white;
	padding: 70px 84px;

	.heading-1 {
		font-size: 47.9px;
		line-height: 55px;
		margin: 0;
		align-self: center;
		color: #232323;
		text-transform: uppercase;
		font-weight: 700;
		letter-spacing: -2px;

		@media (max-width: 767px) {
			font-size: 37.4px;
		}

		@media (max-width: 353px) {
			font-size: 33px;
			line-height: 37px;
		}
	}
}

@media (max-width: 768px) {
	.sliderCard {
		padding: 40px;
	}

	.dots {
		display: none;
	}
}

@media (max-width: 575px) {
	.sliderCard {
		padding: 27.5px;
	}
}

// latest project
.projectPadding {
	padding-left: 160px;

	@media (max-width: 1024px) {
		padding-left: 96px;
	}

	@media (max-width: 768px) {
		padding: 0;
	}
}

.portfolio-colorful {
	margin-right: 30px;

	@media (max-width: 464px) {
		margin-right: 20px;
	}

	.portfolio-box {
		position: relative;

		img {
			display: inline-block;
			height: 580px;
			width: 100%;
		}

		&:hover .portfolio-hover {
			opacity: 1;
		}

		.portfolio-hover,
		.portfolio-hover i {
			opacity: 0;
			position: absolute;
			transition: all 0.3s cubic-bezier(0.2, 0, 0.3, 1);
		}

		.portfolio-hover {
			background: #c3964ee6;
			height: 100%;
			left: 0;
			top: 0;
			width: 100%;

			.portfolio-content {
				bottom: 3rem;
				left: 4rem;
				overflow: hidden;
				position: absolute;
				text-align: left;
				transition: all 0.3s cubic-bezier(0.2, 0, 0.3, 1);
			}

			svg {
				font-size: 28px;
				right: 4rem;
				top: 3rem;
				transform: translateX(15px);
				position: absolute;
				transition: all 0.3s cubic-bezier(0.2, 0, 0.3, 1);
				color: white;
			}
		}
	}
}

// fancy hover effect css
.cover1-background {
	opacity: 1;
	background-position: 50%;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	overflow: hidden;
	position: relative;
	background-color: #232323;
}

.fancy-text-box-05 {
	position: relative;
	transition: all 0.5s ease-in-out;

	.bg-banner-image {
		opacity: 0.1;
		background-color: #232323;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		transition-duration: 0.5s;
		z-index: 0;
	}

	.fancy-text-content {
		bottom: 0;
		height: auto;
		left: 0;
		position: absolute;
		top: auto;
		transform: translateY(70px);
		transition: all 0.5s ease-in-out;
		width: 100%;
		z-index: 9;
	}

	.fancy-text-box-bottom {
		opacity: 0;
		transform: translateY(15px);
		transition: all 0.5s ease-in-out;
	}

	&:hover
		.fancy-box-item
		.fancy-text-box
		.fancy-text-content
		.fancy-text-box-bottom {
		opacity: 1;
	}

	.fancy-box-item:hover .fancy-text-box .fancy-text-content {
		background-color: #c3964e;
		transform: translateY(0);
	}
}

.fancyPadding {
	padding: 21px 28px;
}

.fancy-content-text {
	margin: 0 0 15px;
	font-size: 24px;
	font-weight: 600;
	color: white;
	text-transform: uppercase;
}

.divider {
	border-right: 1px solid #ffffff33;

	@media (max-width: 1199px) {
		border-bottom: 1px solid #ffffff33;
	}
}

// navbar css
.reverse-scroll {
	left: 0;
	position: fixed;
	top: 0;
	transition: all 0.3s cubic-bezier(0.2, 0, 0.3, 1);
	width: 100%;
	z-index: 15;
}

.navbar {
	background-color: transparent;
	padding: 20px 35px;
}

.logo {
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
}

.social {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	color: white;
	gap: 16px;
	cursor: pointer;
}

@media (max-width: 768px) {
	.navbar {
		padding-top: 20px;
		padding-bottom: 20px;
		padding-right: 15px;
		padding-left: 15px;
	}
}

.wrapper .nav-links {
	display: inline-flex;
	justify-content: center;
	align-items: center;
}

.nav-links li a {
	color: #ffffff;
	font-size: 14px;
	font-weight: 500;
	padding: 9px 15px;
	transition: all 0.3s ease;
}

.nav-links li a:hover {
	color: #d6d7d7;
}

.nav-links .mobile-item {
	display: none;
}

.nav-links .drop-menu {
	cursor: pointer;
	position: absolute;
	background: white;
	width: 230px;
	line-height: 45px;
	top: 85px;
	opacity: 0;
	visibility: hidden;
	box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.nav-links li:hover .drop-menu {
	top: 50px;
	opacity: 1;
	visibility: visible;
	border-radius: 5px;
}

.nav-links li:hover .mega-box {
	top: 50px;
	opacity: 1;
	visibility: visible;
}

.mega-box {
	cursor: pointer;
	position: absolute;
	left: 20%;
	width: 70%;
	padding: 0 30px;
	top: 85px;
	opacity: 0;
	visibility: hidden;
}

.mega-box .content {
	background: white;
	padding: 25px 20px;
	display: flex;
	width: 100%;
	border-radius: 5px;
	justify-content: space-between;
	box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.mega-box .content .row {
	width: calc(25% - 30px);
	line-height: 45px;
	display: block !important;
}

.content .row img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.content .row header {
	color: #f2f2f2;
	font-size: 20px;
	font-weight: 500;
}

.drop-menu .content {
	padding: 20px 25px;
}

.row .mega-links li a {
	padding: 0px;
	padding: 0 20px;
	color: #d9d9d9;
	font-size: 17px;
	display: block;
}

.row .mega-links li a:hover {
	color: #f2f2f2;
}

.wrapper .btn {
	color: #fff;
	font-size: 20px;
	cursor: pointer;
	display: none;
}

.wrapper .btn.close-btn {
	position: absolute;
	right: 30px;
	top: 10px;
}

.menu-btn {
	display: none;
}

.dropdown-submenu {
	display: none;
	background: white;
	border-radius: 5px;
	box-shadow: 0 0 35px rgba(0, 0, 0, 0.1);
	position: fixed;
	right: 34.5%;
	top: 13%;
	width: 18%;
	padding: 20px 45px;
}

.dropdown-submenu-port {
	display: none;
	background: white;
	border-radius: 5px;
	box-shadow: 0 0 35px rgba(0, 0, 0, 0.1);
	position: fixed;
	right: 29.1%;
	top: 13%;
	width: 18%;
	padding: 20px 45px;
}

.dropdown-submenu-portfolio {
	display: none;
	background: white;
	border-radius: 5px;
	box-shadow: 0 0 35px rgba(0, 0, 0, 0.1);
	position: fixed;
	right: 29.1%;
	top: 40%;
	width: 18%;
	padding: 20px 45px;
}

.dropdown-submenu-fea {
	display: none;
	background: white;
	border-radius: 5px;
	box-shadow: 0 0 35px rgba(0, 0, 0, 0.1);
	position: fixed;
	right: 14.1%;
	top: 13%;
	width: 18%;
	padding: 20px 45px;
}

.dropdown-submenu-blog {
	display: none;
	background: white;
	border-radius: 5px;
	box-shadow: 0 0 35px rgba(0, 0, 0, 0.1);
	position: fixed;
	right: 7%;
	top: 70%;
	width: 18%;
	padding: 20px 45px;
}

.drop-menu .content li:hover .dropdown-submenu,
.drop-menu .content li:hover .dropdown-submenu-port,
.drop-menu .content li:hover .dropdown-submenu-portfolio,
.drop-menu .content li:hover .dropdown-submenu-fea,
.drop-menu .content li:hover .dropdown-submenu-blog {
	display: block;
}

.drop-menu .content .dropdown-submenu-about,
.drop-menu .content .dropdown-submenu-service,
.drop-menu .content .dropdown-submenu-contact,
.drop-menu .content .dropdown-submenu-pages {
	display: none;
}

@media screen and (max-width: 970px) {
	.drop-menu .content li:hover .dropdown-submenu {
		display: none;
	}

	.hide {
		display: none;
	}

	.drop-menu .content .dropdown-submenu-about,
	.drop-menu .content .dropdown-submenu-service,
	.drop-menu .content .dropdown-submenu-contact,
	.drop-menu .content .dropdown-submenu-pages {
		display: block;
		padding: 10px 10px;
	}

	.navbar {
		background-color: white !important;
	}

	.logo,
	.social {
		color: black !important;
	}

	.wrapper .btn {
		display: block;
	}

	.wrapper .nav-links {
		position: fixed;
		height: 80vh;
		width: 100%;
		max-width: 100%;
		top: 60px;
		left: -100%;
		background: white;
		display: block;
		line-height: 40px;
		overflow-y: auto;
		transition: all 0.3s ease;
	}

	.menu-btn {
		display: block;
		color: black;
	}

	#menu-btn:checked ~ .nav-links {
		left: 0%;
	}

	#menu-btn:checked ~ .btn.menu-btn {
		display: none;
	}

	#close-btn:checked ~ .btn.menu-btn {
		display: block;
	}

	.nav-links li a {
		padding: 0 20px;
		display: block;
		font-size: 20px;
	}

	.nav-links .drop-menu {
		position: static;
		opacity: 1;
		top: 65px;
		visibility: visible;
		padding-left: 20px;
		width: 100%;
		max-height: 0px;
		overflow: hidden;
		box-shadow: none;
	}

	#showMega:checked ~ .mega-box,
	#showMega-ele:checked ~ .mega-box,
	#showMega-shop:checked ~ .mega-box,
	#showMega-home:checked ~ .mega-box {
		max-height: 100%;
		padding: 0;
	}

	#showDrop:checked ~ .drop-menu,
	#showDrop-page:checked ~ .drop-menu,
	#showDrop-port:checked ~ .drop-menu,
	#showDrop-fea:checked ~ .drop-menu,
	#showDrop-blog:checked ~ .drop-menu {
		max-height: 100%;
		padding: 0 20px;
	}

	.nav-links li:hover .mega-box {
		padding: 0;
	}

	.nav-links .desktop-item {
		display: none;
	}

	.nav-links .mobile-item {
		display: block;
		font-size: 15px;
		font-weight: 500;
		padding-left: 30px;
		cursor: pointer;
		color: black;
	}

	.nav-links li:hover .mega-box {
		padding: 0;
	}

	.drop-menu li {
		margin: 0;
	}

	.drop-menu li a {
		border-radius: 5px;
		font-size: 18px;
	}

	.mega-box {
		position: static;
		top: 65px;
		opacity: 1;
		visibility: visible;
		padding: 0 20px;
		max-height: 0px;
		overflow: hidden;
	}

	.mega-box .content {
		box-shadow: none;
		flex-direction: column;
		padding: 20px 20px 0 40px;
	}

	.mega-box .content .row {
		width: 100%;
		margin-bottom: 15px;
		border-top: 1px solid rgba(255, 255, 255, 0.08);
	}

	.mega-box .content .row:nth-child(1),
	.mega-box .content .row:nth-child(2) {
		border-top: 0px;
	}

	.content .row .mega-links {
		border-left: 0px;
		padding-left: 15px;
	}

	.row .mega-links li {
		margin: 0;
	}

	.content .row header {
		font-size: 19px;
	}
}

nav input {
	display: none;
}

.body-text {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	text-align: center;
	padding: 0 30px;
}

.body-text div {
	font-size: 45px;
	font-weight: 600;
}

.heading {
	font-size: 14px;
	line-height: 20px;
	color: #232323;
	font-weight: 500;
	margin-bottom: 15px;
	white-space: nowrap;
}

.mega-links li,
.drop-menu li {
	font-size: 14px;
	line-height: 20px;
	align-items: center;
	color: #828282;
	display: flex;
	justify-content: space-between;
	font-size: 13px;
	font-weight: 500;
	line-height: 30px;
	margin: 0 0 5px;
	overflow: hidden;
	padding: 0;
	position: relative;
	text-align: center;
	white-space: nowrap;
}

.mega-links li:hover,
.drop-menu li:hover {
	color: #232323;
}
